<h1>Help Center</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag(pages_success_path) do %>
			<%= label_tag :full_name, 'Full Name' %>
			<%= text_field_tag :full_name %>

			<%= label_tag :email %>
			<%= email_field_tag :email %>

			<%= label_tag :subject %>
			<%= text_field_tag :subject %>

			<%= label_tag :body %>
			<%= text_area_tag :body, nil, :size => "25x10" %>

			<p><%= submit_tag "Send Your Question", class: "btn btn-large btn-primary" %></p>
		<% end %>
	</div>
</div>
