<h1 class ="center">Help Center</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag(pages_success_path) do %>
			<%= label_tag :full_name, 'Full Name' %>
			<%= text_field_tag :full_name, nil, class: "input-xxlarge"%>

			<%= label_tag :email %>
			<%= email_field_tag :email, nil, class: "input-xxlarge" %>

			<%= label_tag :subject %>
			<%= text_field_tag :subject, nil, class: "input-xxlarge" %>

			<%= label_tag :body, 'Please Describe Your Issue' %>
			<%= text_area_tag :body, nil, :rows => 10, class: "input-xxlarge" %>

			<p><%= submit_tag "Send Your Question", class: "btn btn-large btn-primary" %></p>
		<% end %>
	</div>
</div>
